build
bin
*.idea
*.iml
lib/
vendor/
.bundle/
build/
out/
.idea
.gradle
*.iml
*.class
*.ipr
*.iws
*.gem
*.gemspec
Gemfile.lock
settings.gradle
gradle.properties
lib/logstash-filter-java_filter_example_jars.rb
